<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="content-type">

        <title>Buddhism Quiz: Master 3</title>

         <link href="../stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css">
        <link href="../stylesheets/vajratvQuiz.css" media="screen" rel="stylesheet" type="text/css">
        <link href="../stylesheets/master.css" media="screen" rel="stylesheet" type="text/css">
        <link href="../stylesheets/global.css" media="screen" rel="stylesheet" type="text/css">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45793113-1', 'vajratv.com');
  ga('send', 'pageview');

</script>
    </head>

<body>
    <nav id="navigation">
      <div class="container">
        <ul class="navlinks">
          <li><a href="../index.html"><img src="../images/home.png"></a></li>
          
        </ul>
      </div>
    </nav>

    <div id="slickQuiz">
        <h1 class="quizName"><!-- where the quiz name goes --></h1>

        <div class="quizArea">
            <div class="quizHeader">
                <!-- where the quiz main copy goes -->

                <a class="button startQuiz" href="#">Get Started!</a>
            </div>

            <!-- where the quiz gets built -->
        </div>

        <div class="quizResults">
            <h3 class="quizScore">You Scored: <span><!-- where the quiz score goes --></span></h3>

            <h3 class="quizLevel"><strong>Ranking:</strong> <span><!-- where the quiz ranking level goes --></span></h3>

            <br/>

             <div>
                <a class="button" href="master3.html">Take the test again</a> <a class="button" href="../index.html">Checkout the resources as we add more levels</a>

            </div><br/><br/>


            <div class="quizResultsCopy">
                <!-- where the quiz result copy goes -->
            </div>
        </div>

        <script src="../javascripts/jquery.js"></script>
        <script src="../javascripts/master3.js"></script>
        <script src="../javascripts/slickQuiz.js"></script>
        <script src="../javascripts/master.js"></script>

<div id="footer">
    <p style="font-size:12px">Simple Buddhism Quiz made for <a href="http://vajratv.com/">VajraTV</a>.<br/>
 <small>The site was developed by <a href="http://youngtibet.com/about.html">@vajradog</a> based on <a href="https://github.com/jewlofthelotus">Julie Cameron's</a> beautiful code.<br/>
 The website is provided as Open Source, feel free to <a href="https://github.com/vajradog/quiz">download</a> the source code and edit/use as you see fit.<br> </p>
</div>

    </body>

</html>
